[submodule "Athena"]
	path = Athena
	url = https://github.com/Antidote/Athena.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/Antidote/tinyxml2.git
[submodule "libSquish"]
	path = libSquish
	url = https://github.com/jackoalan/libSquish
[submodule "libBoo"]
	path = libBoo
	url = https://github.com/RetroView/libBoo.git
