[submodule "Athena"]
	path = Athena
	url = https://github.com/Antidote/Athena.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/Antidote/tinyxml2.git
[submodule "libSquish"]
	path = libSquish
	url = https://github.com/jackoalan/libSquish
[submodule "libBoo"]
	path = libBoo
	url = https://github.com/RetroView/libBoo.git
[submodule "RetroCommon"]
	path = RetroCommon
	url = https://github.com/RetroView/RetroCommon.git
[submodule "TXTRLoader"]
	path = TXTRLoader
	url = https://github.com/RetroView/TXTRLoader.git
[submodule "MathLib"]
	path = MathLib
	url = https://github.com/RetroView/MathLib.git
[submodule "PakLib"]
	path = PakLib
	url = https://github.com/RetroView/PakLib.git
